In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
# Data Manip
import numpy as np
import pandas as pd

# Dataviz
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Chargement du dataset et preparation des données pour ML

### 1.1 Chargement du dataset

In [3]:
shp = pd.read_csv("../transformed\student_habits_performance.csv")
shp.head()

,id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [4]:
shp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             1000 non-null   int64
 1   age                            1000 non-null   int64
 2   gender                         1000 non-null   object
 3   study_hours_per_day            1000 non-null   float64
 4   social_media_hours             1000 non-null   float64
 5   netflix_hours                  1000 non-null   float64
 6   part_time_job                  1000 non-null   object
 7   attendance_percentage          1000 non-null   float64
 8   sleep_hours                    1000 non-null   float64
 9   diet_quality                   1000 non-null   object
 10  exercise_frequency             1000 non-null   int64
 11  parental_education_level       1000 non-null   object
 12  internet_quality               1000 non-null   object
 13  mental_health_rating           1000 non-null   int64
 14  extracurricular_participation  1000 non-null   object
 15  exam_score                     1000 non-null   float64
dtypes: float64(6), int64(4), object(6)
memory usage: 125.1+ KB

### 1.2 Data Manipulation pour les varaibles catégorielles

In [6]:
shpml = pd.get_dummies(shp)
shpml.columns

Index(['id', 'age', 'study_hours_per_day', 'social_media_hours',
       'netflix_hours', 'attendance_percentage', 'sleep_hours',
       'exercise_frequency', 'mental_health_rating', 'exam_score',
       'gender_Female', 'gender_Male', 'gender_Other', 'part_time_job_No',
       'part_time_job_Yes', 'diet_quality_Fair', 'diet_quality_Good',
       'diet_quality_Poor', 'parental_education_level_Bachelor',
       'parental_education_level_High School',
       'parental_education_level_Master', 'parental_education_level_Unknown',
       'internet_quality_Average', 'internet_quality_Good',
       'internet_quality_Poor', 'extracurricular_participation_No',
       'extracurricular_participation_Yes'],
      dtype='object')

In [9]:
y = shpml.exam_score
X = shpml.drop(columns = ["id", "exam_score"])
X.columns

Index(['age', 'study_hours_per_day', 'social_media_hours', 'netflix_hours',
       'attendance_percentage', 'sleep_hours', 'exercise_frequency',
       'mental_health_rating', 'gender_Female', 'gender_Male', 'gender_Other',
       'part_time_job_No', 'part_time_job_Yes', 'diet_quality_Fair',
       'diet_quality_Good', 'diet_quality_Poor',
       'parental_education_level_Bachelor',
       'parental_education_level_High School',
       'parental_education_level_Master', 'parental_education_level_Unknown',
       'internet_quality_Average', 'internet_quality_Good',
       'internet_quality_Poor', 'extracurricular_participation_No',
       'extracurricular_participation_Yes'],
      dtype='object')